Repository Mozart409/uptime-forge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, pedantic, test, build-css

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook
pre-push:
  commands:
    check:
      glob: "*.rs"
      run: cargo fmt --all --check
      stage_fixed: true
pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    lint:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    pedantic:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings -W clippy::pedantic
    test:
      glob: "*.rs"
      run: cargo test --all-features
    build-css:
      glob: "*.{css,rs}"
      run: tailwindcss -i src/public/css/input.css -o src/public/css/output.css --minify
      stage_fixed: true

chore: change default server port from 3000 to 3003
  forge.toml
Due: none

fix: change ports
  README.md
  compose.yml
Due: none

feat: example db schema
  todos/database-schema.md
Due: none

docs: updated Agents.md
  AGENTS.md
Due: none

docs: fix tablename
  todos/database-schema.md
Due: none

docs: refactor AGENTS.md for clarity and brevity
  AGENTS.md
Due: none

feat: add TCP and DNS health check support
  src/checker.rs
  src/config.rs
  src/layout.rs
Due: format, lint, pedantic, test, build-css

feat: add retry logic and alert configuration
  forge.toml
Due: none

docs: enhance AGENTS.md with Nix environment and config examples
  AGENTS.md
Due: none

docs: update database schema with error tracking and aggregations
  todos/database-schema.md
Due: none

chore: add dependencies for DNS resolution, regex, and URL parsing
  Cargo.lock
  Cargo.toml
Due: none

feat: add build metadata footer and improve UI layout
  build.rs
  src/layout.rs
Due: format, lint, pedantic, test, build-css

style: rebuild Tailwind CSS with updated configuration
  src/public/css/output.css
Due: build-css

feat: add uptime events table with hypertable and aggregations
  compose.dev.yml
  docker/postgres/initdb/001-timescaledb.sql
  docker/postgres/postgresql.conf
  flake.nix
  justfile
  migrations/0001_init.down.sql
  migrations/0001_init.up.sql
  migrations/0002_uptime_events.down.sql
  migrations/0002_uptime_events.up.sql
  src/db.rs
Due: format, lint, pedantic, test, build-css

ci: Set package ecosystem to rust-toolchain for Dependabot
  .github/dependabot.yml
Due: none

ci: Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

chore: add direnv support for automatic Nix environment activation
  .envrc
  .gitignore
  AGENTS.md
Due: none

chore: add chrono and ulid dependencies for time handling and unique IDs
  Cargo.lock
  Cargo.toml
  migrations/0002_uptime_events.up.sql
  src/checker.rs
  src/db.rs
  src/main.rs
Due: format, lint, pedantic, test, build-css

feat: add dashboard time range selector and responsive header
  justfile
  src/layout.rs
  src/public/css/output.css
Due: format, lint, pedantic, test, build-css

style: make git hash clickable and reorder imports
  src/layout.rs
Due: format, lint, pedantic, test, build-css

style: update output.css
  src/public/css/output.css
Due: build-css

fix: remove output.css
  .gitignore
  src/public/css/output.css
Due: build-css

chore: add CSS build stage to Docker build pipeline
  Dockerfile
Due: none

Potential fix for code scanning alert no. 5: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

test: added tests
  src/checker.rs
  src/config.rs
  src/db.rs
Due: format, lint, pedantic, test, build-css

chore: add package metadata to Cargo.toml
  Cargo.lock
  Cargo.toml
Due: none

chore: add OCI image labels to Dockerfile
  Dockerfile
Due: none

fix: correct database port in compose.yml
  compose.yml
Due: none

docs: add MIT license
  LICENSE
Due: none

chore: bump version to 0.2.0
  Cargo.toml
Due: none

ci: add permissions to release workflow
  .github/workflows/release.yml
Due: none

chore: update Cargo.lock
  Cargo.lock
Due: none

ci: add multi-platform Docker builds
  .github/workflows/release.yml
Due: none

refactor: reorganize deployment files into example directory
  compose.dev.yml
  docker/postgres/Dockerfile
  example/compose.yml
  example/forge.toml
  example/postgres/initdb/001-timescaledb.sql
  example/postgres/postgresql.conf
Due: none

docs: update documentation for example directory restructuring
  AGENTS.md
  README.md
Due: none

chore: bump version to 0.2.1
  Cargo.toml
Due: none

fix: simplify Docker build for multi-arch support
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  src/public/css/output.css
Due: build-css

chore: bump version to 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

feat: add error handling templates and improve static file serving
  src/layout.rs
  src/main.rs
Due: format, lint, pedantic, test, build-css

docs: fmt readme
  README.md
  src/public/css/output.css
Due: build-css
