Repository Mozart409/uptime-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lockfile, format, lint, pedantic, test, build-css

lockfile:
  run: cargo generate-lockfile
  stage_fixed: true

format:
  run: cargo fmt --all
  stage_fixed: true

lint:
  run: cargo clippy --all-targets --all-features -- -D warnings

pedantic:
  run: cargo clippy --all-targets --all-features -- -D warnings -W clippy::pedantic

test:
  run: cargo test --all-features

build-css:
  run: tailwindcss -i src/public/css/input.css -o src/public/css/output.css --minify
  stage_fixed: true

fix(cargo): fix dependency
  Cargo.lock
  Cargo.toml
Due: lockfile

fix(cargo): remove feature
  Cargo.lock
  Cargo.toml
Due: lockfile

fix(tailwindcss): update ionotify of changes only in rust src
  flake.nix
  justfile
Due: none

feat(loading): add loading indicators
  src/layout.rs
  src/public/css/output.css
Due: format, lint, pedantic, test, build-css

fix(oci): add git history for git hash
  .dockerignore
  Dockerfile
Due: none

feat(trivy): add trivy
  flake.nix
  justfile
Due: none

fix(tools): move generate-lockfile to pre-commit
  lefthook.yml
Due: none

chore(deps): updated lockfile
  Cargo.lock
Due: lockfile

fix(release): fix script
  release.sh
Due: none

chore(release): v0.3.0
  Cargo.lock
  Cargo.toml
Due: lockfile

docs(db): create todo with retention policy
  todos/retention-and-cagg-offsets.md
Due: none

Path conditions:
  lockfile: any of: Cargo.{toml,lock}
  format: any of: *.rs
  lint: any of: *.rs
  pedantic: any of: *.rs
  test: any of: *.rs
  build-css: any of: *.{css,rs}
